---
import { Image } from 'astro:assets';
import Bathtub from '../icons/bathtub.svg';
import Faucet from '../icons/faucet.svg';
// import Bathtub from '../icons/bathtub.svg';
import Gas from '../icons/Gas.svg';
import Pipe from '../icons/pipe.svg'
import Toilet from '../icons/toilet.svg'
import Washer from '../icons/washer.svg'
---
<div class="text-center bg-sky-700">
<h3 class="text-white text-5xl pt-12 pb-6">Services</h3>
<div class="flex flex-row flex-wrap justify-center items-center bg-sky-700 p-4 md:p-12 gap-4">
<!-- Card Container -->
<div class="bg-white p-6 rounded-lg shadow-md w-80 flex-auto basis-48">

  <!-- Placeholder Icon -->
  <div class="text-center">
      <!-- You can replace the 'fa-icon' class with the appropriate Font Awesome or other icon library class -->
      <Image class="h-12 w-12" src={Bathtub} alt='bath tub icon' />
  </div>

  <!-- Heading -->
  <h3 class="text-xl font-semibold mt-4">Your Heading</h3>

  <!-- Lorem Ipsum Paragraph -->
  <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

</div>

<!-- Card Container -->
<div class="bg-white p-6 rounded-lg shadow-md w-80 flex-1 basis-48">

  <!-- Placeholder Icon -->
  <div class="text-center">
      <!-- You can replace the 'fa-icon' class with the appropriate Font Awesome or other icon library class -->
      <Image class="h-12 w-12" src={Faucet} alt='faucet icon' />
  </div>

  <!-- Heading -->
  <h3 class="text-xl font-semibold mt-4">Your Heading</h3>

  <!-- Lorem Ipsum Paragraph -->
  <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

</div>

<!-- Card Container -->
<div class="bg-white p-6 rounded-lg shadow-md w-80 flex-auto basis-48">

  <!-- Placeholder Icon -->
  <div class="text-center">
      <!-- You can replace the 'fa-icon' class with the appropriate Font Awesome or other icon library class -->
      <Image class="h-12 w-12" src={Gas} alt='gas burner icon' />
  </div>

  <!-- Heading -->
  <h3 class="text-xl font-semibold mt-4">Your Heading</h3>

  <!-- Lorem Ipsum Paragraph -->
  <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

</div>

<!-- Card Container -->
<div class="bg-white p-6 rounded-lg shadow-md w-80 flex-auto basis-48">

  <!-- Placeholder Icon -->
  <div class="text-center">
      <!-- You can replace the 'fa-icon' class with the appropriate Font Awesome or other icon library class -->
      <Image class="h-12 w-12" src={Pipe} alt='pipe icon' />
  </div>

  <!-- Heading -->
  <h3 class="text-xl font-semibold mt-4">Your Heading</h3>

  <!-- Lorem Ipsum Paragraph -->
  <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

</div>

<!-- Card Container -->
<div class="bg-white p-6 rounded-lg shadow-md w-80 flex-auto basis-48">

  <!-- Placeholder Icon -->
  <div class="text-center">
      <!-- You can replace the 'fa-icon' class with the appropriate Font Awesome or other icon library class -->
      <Image class="h-12 w-12" src={Toilet} alt='toilet icon' />
  </div>

  <!-- Heading -->
  <h3 class="text-xl font-semibold mt-4">Your Heading</h3>

  <!-- Lorem Ipsum Paragraph -->
  <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

</div>

<!-- Card Container -->
<div class="bg-white p-6 rounded-lg shadow-md w-80 flex-auto basis-48">

  <!-- Placeholder Icon -->
  <div class="text-center">
      <!-- You can replace the 'fa-icon' class with the appropriate Font Awesome or other icon library class -->
      <Image class="h-12 w-12" src={Washer} alt='washer icon' />
  </div>

  <!-- Heading -->
  <h3 class="text-xl font-semibold mt-4">Your Heading</h3>

  <!-- Lorem Ipsum Paragraph -->
  <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

</div>
</div>
</div>